//+++ font
$BASE-FONT: noto-sans-cjk-jp, sans-serif;
$RODIN-FONT: fot-rodin-pron, sans-serif;
$NOW-FONT: now, sans-serif;

//+++ size
$BREAKPOINT-LV1: 768;

// デザインアートボードのサイズ
$DESIGN-W-PC: 1400;
$DESIGN-W-SP: 375;

$WHITE: #fff;
$BLACK: #000;
$BLUE: #0064c6;
$SKYBLUE: #d2edf5;
