- var title = ""

doctype html
html(lang="ja")
  head
    include ./_common/_head
  body
    include ./_common/_header
    main.main
      include ./_parts/_top/_mv
      include ./_parts/_top/_mv-foot
      include ./_parts/_top/_about
      include ./_parts/_top/_people
      include ./_parts/_top/_culture
      include ./_parts/_top/_recruit
    include ./_common/_footer
    include ./_common/_script
