/* ------------------------------

  font

------------------------------ */

@font-face {
  font-family: now;
  src: url(../fonts/Now-Bold.otf);
  font-display: swap;
}

.f-rodin {
  font-family: $RODIN-FONT;
  font-style: italic;
}

.f-now {
  font-family: $NOW-FONT;
  font-style: italic;
}


