footer
    div.u-inner
        div.footer__inner
            div.footer-left
                p.footer-left__logo.c-blue.f-now V-TEX
                    br
                    | RECRUIT
                ul.footer-left__list
                    li.footer-left__item
                        a(href="") コーポレートサイト 
                    li.footer-left__item
                        a(href="") プライバシーポリシー 
                    li.footer-left__item
                        a(href="") 利用規約 
            div.footer-right
                div.footer-right__box
                    a.footer-right__tit.c-blue.f-now ABOUT 
                    ul.footer-right__list
                        li.footer-right__item 
                            a.footer-right__link 代表挨拶 
                        li.footer-right__item 
                            a.footer-right__link 数字でわかる 
                div.footer-right__box
                    a.footer-right__tit.c-blue.f-now PEOPLE 
                    ul.footer-right__list
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                        li.footer-right__item 
                            a.footer-right__link 社員インタビュー 
                div.footer-right__box
                    a.footer-right__tit.c-blue.f-now CULTURE 
                    ul.footer-right__list
                        li.footer-right__item 
                            a.footer-right__link 職場環境 
                        li.footer-right__item 
                            a.footer-right__link 福利厚生
                div.footer-right__box
                    a.footer-right__tit.c-blue.f-now RECRUIT INFO  
                    a.footer-right__tit.c-blue.f-now Q&amp;A 
            div.footer-foot
                p.footer-foot__txt Copyright © V-TEX Corporation. All Rights Reserved.
