
meta(charset="ja")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{title}
//link(rel="icon", href="/assets/img/favicon.png", id="favicon")
//link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/apple-touch-icon-180x180.png")
meta(property="og:image", content="")
link(rel='stylesheet', href='assets/css/style.css')
script(src="assets/js/font.js") 
