header.header 
    div.header__inner
        p.header__tit
            a(href="")
                img(src="assets/img/module/logo.png", alt="VTEX") 
        div.header__link.c-blue.f-now
            a(href="") RECRUIT 
        ul.header__list
            li.header__item 
                a(href="") 
                    span.c-blue.f-now ABOUT 
                    span 私たちについて 
            li.header__item 
                a(href="") 
                    span.c-blue.f-now PEOPLE 
                    span 働く人たち 
            li.header__item 
                a(href="") 
                    span.c-blue.f-now CULTURE 
                    span 環境と制度 
            li.header__item 
                a(href="") 
                    span.c-blue.f-now RECRUIT INFO 
                    span 募集要項 
            li.header__item 
                a(href="") 
                    span.c-blue.f-now Q&amp;A 
                    span よくあるご質問 
        div.header__btn.c-white.f-now
            a(href="") ENTRY
