section.about 
    div.about__inner.u-inner
        h2.c-blue.f-now.u-tit.u-align-center ABOUT 
        p.u-subtit.u-align-center 私たちについて
        div.about-body
            div.about-body__box
                figure.about-body__img 
                    img(src="assets/img/top/about_pic_01.jpg", alt="Message")
                h3.about-body__tit.c-blue.f-now Message
                p.about-body__subtit 代表あいさつ
                p.about-body__txt これからも、IT・ハイテク産業の発展に貢献し
                    br
                    | グローバルに取り組んでまいります
                div.about-body__link.u-link.u-align-right
                    a(href="").c-blue.f-now View More
                        span
            div.about-body__box
                figure.about-body__img 
                    img(src="assets/img/top/about_pic_02.png", alt="Number of Vtex")
                h3.about-body__tit.c-blue.f-now Number of Vtex
                p.about-body__subtit 数字で⾒るブイテックス
                p.about-body__txt どんな会社か、働く⼈たちの割合まで
                    br
                    | ⼀⽬で強みをご紹介
                div.about-body__link.u-link.u-align-right
                    a(href="").c-blue.f-now View More
                        span
    div.about__img--first
    div.about__img--second
