section.culture 
    div.culture__inner.u-inner
        h2.culture__tit.c-blue.f-now.u-tit CULTURE 
        p.culture__subtit.u-subtit 環境と制度
        div.culture-body
            div.culture-body__box
                figure.culture-body__img
                    img(src="assets/img/top/culture_pic_01.jpg", alt="")
                h3.culture-body__tit.c-blue.f-now Environment
                p.culture-body__subtit 職場環境
                p.culture-body__txt 各拠点ごとの職場環境や施設・社内設備をご紹介
                div.culture-body__link.u-link.u-align-right
                    a(href="").c-blue.f-now View More
                        span
            div.culture-body__box
                figure.culture-body__img
                    img(src="assets/img/top/culture_pic_02.jpg", alt="")
                h3.culture-body__tit.c-blue.f-now Benefits
                p.culture-body__subtit 福利厚⽣
                p.culture-body__txt 働きやすいよう、福利厚⽣や制度を充実しております
                div.culture-body__link.u-link.u-align-right
                    a(href="").c-blue.f-now View More
                        span
    div.culture__img--first
    div.culture__img--second
    div.culture__img--third
