section.mv-foot
    div.mv-foot__inner.u-inner
        p.mv-foot__txt.c-blue ダミーです。ジーピーオンラインは⼈柄を重視した採⽤を⾏っています。
            br 
            | ちょっとゆるくて、でも締めるときはきちんと締めるそんな⼈を私たちは探しています。
            br 
            | Web制作という舞台で「新しい」を⽣み出し⼈々の⽣活に貢献したい、
            br 
            | そして⾃分のためになにかを成し遂げたい、もっと幸せな価値を提供できる、
            br 
            | そんな業界に⼀緒に変えていきたいあなた。
            br 
            | Web経験者、未経験者も⼤いに活躍できるジーピーオンラインで
            br 
            |⼀緒に働いてみませんか。
    div.mv-foot__img--first
    div.mv-foot__img--second
