section.mv
    div.mv__inner
        h1.mv__tit.f-rodin.c-blue 好奇心と共に。
            br
            | 共に未来を創る
    div.mv__img--first
    div.mv__img--second
    div.mv__img--third
        img(src="assets/img/top/mv_pic.png", alt="好奇心と共に。共に未来を創る")
    div.mv__scroll.f-now.c-blue SCROLL
    div.mv__recruit.f-now.c-skyblue V-TEX
        br 
        | RECRUIT 
