section.people 
    div.people__inner.u-inner
        div.people__left
            figure.people__img
                img(src="assets/img/top/people_pic.jpg", alt="PEOPLE")
        div.people__right
            h2.people__tit.c-blue.f-now.u-tit PEOPLE 
            p.people__subtit.u-subtit 働く人たち
            p.people__txt グローバルチームの⼀員として働く
                br
                |先輩社員やブイテックスでの
                br
                |働き⽅についてご紹介します。
            div.people__link.u-link.u-align-right
                a(href="").c-blue.f-now View More
                    span
    div.people__img--first
    div.people__img--second
