section.recruit 
    div.u-inner
        div.recruit-body
            div.recruit-body__container.u-align-center
                h2.recruit-body__tit.c-white.f-now RECRUIT INFO
                p.recruit-body__subtit.c-white 募集要項
                p.recruit-body__txt.c-white 募集要項と選考フローの確認はこちらから。
                    br
                    |⾃分らしく活躍したいあなたのエントリーをお待ちしています。
                div.recruit-body__link.u-link
                    a(href="").c-white.f-now View More 
                        span._white
        div.recruit-foot
            div.recruit-foot__link
                a(href="") 
                    img(src="assets/img/top/recruit_ico.png", alt="マイナビ")
